// Custom fonts
$header-font: 'Bradley Hand';

// Color pallete
$button-green: darkseagreen;
$custom-blue-color: #84aeb9;
$custom-red-color: rgb(214, 126, 126);
$header-background-color: aliceblue;
$table-background: rgb(230, 229, 228);
$table-row: lavender;

// movies color pallate
$bg-accent-color: #141414;
$brand-primary: #e50913;
$brand-secondary-color: #fff;
$popup-text: rgba(219, 209, 209, 0.728);
