// Custom fonts
$header-font: 'Bradley Hand';

// Custom fonts size
$slider-title-size: 25px;
$slider-heading-size: 35px;
$slider-link-size: 20px;

// Color pallete
$button-green: darkseagreen;
$custom-blue-color: #84aeb9;
$custom-red-color: rgb(214, 126, 126);
$header-background-color: aliceblue;
$table-background: rgb(230, 229, 228);
$table-row: lavender;

// Movies color pallate
$bg-accent-color: #141414;
$brand-primary: #e50913;
$brand-secondary-color: #fff;
$popup-text: rgba(219, 209, 209, 0.728);

// Slider color palette.
$slide-text-color:$brand-secondary-color;
$slide-add:$brand-secondary-color;
$slide-text-color:$brand-secondary-color;
$slider-arrow-color: linear-gradient(120deg, white, black);

// Button default style
$button-padding: 5px 15px;
$button-border:1px solid #fff;
