#todo-list {
  background-color: $table-row;
  padding: 10px;
}

#todo-list {
  li{
    
    background-color: $table-background;
    list-style: decimal;
    text-align: center;
    border-radius: 5px;
    margin: 2px 0px;
  }
}
